* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('1.jpg'); /* Đặt hình ảnh nền */
    background-size: cover; /* Đảm bảo hình ảnh nền phủ đầy toàn bộ phần tử body */
    background-position: center; /* Căn chỉnh hình ảnh nền vào giữa */
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
}

#yes {
    background-color: #5BBCFF;
}

#yes:hover {
    background-color: #41C9E2;
    cursor: pointer;
}

#no {
    background-color: #E59BE9;
    cursor: pointer;
}

#no:hover {
    background-color: #E79CC2;
}
